#main-menu.navbar-default .navbar-nav > li > a {
  color: black;
}

#main-menu.navbar-default .navbar-nav > li:hover > a {
  background: transparent;
  padding-top: 37px;
  border-top: 3px solid #009146;
  color: mediumseagreen;
}

a#azan-link {
  color: white !important;
  border-top: 3px solid #009146;
  margin-top: -3px;
  background-color: mediumseagreen;
  padding-left: 5px;
  padding-right: 5px;
}

a#azan-link:hover {
  margin-top: 0px;
  color: mediumseagreen !important;
}

a#login{
  color: mediumseagreen  !important;
  font-weight: bold;
}

#main-slider {
  margin-top: -46px;
}

#bar {
  background: mediumseagreen;
}

.green-text {
  color: #009146;
}

.green-background {
  background-color: #009146;
}

.green-border {
  border-color: #009146 !important;
}

.pillar-circle {
  border-color: #2d8655 !important;
}

.pillar-circle:hover {
  border-color: #2d8655 !important;
  background-color: #2d8655;
  border-color: #fff !important;
}

#azan ul.azan li.plan-header .price-duration {
  background-image: -moz-linear-gradient(90deg, #2d8655 0%, #79d2a1 100%);
  background-image: -webkit-linear-gradient(90deg, #2d8655 0%, #79d2a1 100%);
  background-image: -ms-linear-gradient(90deg, #2d8655 0%, #79d2a1 100%);
}


#get-in-touch {
  margin-bottom: -50px;
}


#contact-form {
  margin-left: 40px;
}

#contact-area {
  margin-top: 50px;
}

.service-box {
  height: 210px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid hsl(0, 2%, 88%);
}

.dark-text-shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 1)
}

.carousel-content {
  text-align: center;
}

#main-slider .slider-inner h2 {
  text-transform: none;
}

.slide-description {
  color:white;
  font-size: 20px;
  margin-top: 30px
}

.service-button {
  position: absolute;
  bottom: 0;
  left: 10;
  margin-bottom: 10px;
}

.section-header .section-title {
  text-transform: capitalize;
}

#blog {
  margin-bottom: -100px;
}

#meet-team .team-member {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#meet-team .team-member:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: none;
}

.white-text {
  color: white;
}

.volunteer-name {
  font-size: 27px;
}

.volunteer-profession {
  font-size: 14px;
}

.volunteer-info {
  font-size: 20px;
}


@media only screen and (max-width: 600px) {
  .service-box {
    margin-bottom: 13px;
  }

  .section-header .section-title {
    font-size: 30px;
    text-transform: capitalize;
  }
  #contact-form {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .footer-element {
    margin-bottom: 30px;
  }

  #get-in-touch {
    margin-bottom: 0px;
  }

  #main-slider {
    margin-top: -66px;
  }

  #services {
    margin-top: -50px;
  }

  #blog {
    margin-bottom: -120px;
  }

  .team-member-box {
    margin-bottom: 20px;
  }
}