[viewBag]
==
<div class="container">
    <div class="section-header text-center">
        <h2 class="section-title text-center wow fadeInDown">Adhan in Accra</h2>
        <p class="text-center wow fadeInDown">
            A good muslim prays on time.
        </p>
        <p>
        <br>حَدَّثَنَا مُحَمَّدُ بْنُ الْمُثَنَّى، قَالَ حَدَّثَنَا يَحْيَى، قَالَ حَدَّثَنَا إِسْمَاعِيلُ، قَالَ <br>حَدَّثَنَا قَيْسٌ، عَنْ جَرِيرِ بْنِ عَبْدِ اللَّهِ، قَالَ بَايَعْتُ رَسُولَ اللَّهِ صلى الله عليه وسلم 
        <br>عَلَى إِقَامِ الصَّلاَةِ، وَإِيتَاءِ الزَّكَاةِ، وَالنُّصْحِ لِكُلِّ مُسْلِمٍ‏.‏
        </p>
        <p>
        I gave the pledge of allegiance to Allah's Messenger <b style="color:green">(ﷺ) </b>for to <b>offer prayers perfectly</b>, to pay Zakat regularly, and to give good advice to every Muslim.
        </p>
        <p>Reference: Sahih al-Bukhari 524. In-book reference: Book 9, Hadith 3</p>
        <p cl>Narrated Jarir bin `Abdullah</b>
    </div>

    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
        <ul class="azan">
            <li class="plan-header">
                <div class="price-duration">
                            <span id="date-area" class="price">
                                
                            </span>
                    <span id="year-area" class="duration">
                                
                            </span>
                </div>
            </li>
            <li>Fajr &nbsp; &nbsp; &nbsp;<strong id="fajr"></strong></li>
            <li>Sunrise  &nbsp; &nbsp; &nbsp;<strong id="sunrise"></strong></li>
            <li>Dhuhr  &nbsp; &nbsp; &nbsp;<strong id="dhuhr"></strong></li>
            <li>Asr  &nbsp; &nbsp; &nbsp;<strong id="asr"></strong></li>
            <li>Maghrib  &nbsp; &nbsp; &nbsp;<strong id="maghrib"></strong></li>
            <li>Sunset  &nbsp; &nbsp; &nbsp;<strong id="sunset"></strong></li>
            <li>Isha  &nbsp; &nbsp; &nbsp;<strong id="isha"></strong></li>
        </ul>
    </div>
</div>