[viewBag]
==
<div>
    <div class="row text-center" style="margin-bottom: 50px">
        <h2 style="background-color: mediumseagreen; color: #fff; padding: 30px;">You can donate via Mobile Money or Bank Transfer</h2>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" style="margin-bottom: 20px">
            <h4 class="section-title text-left wow fadeInDown" style="font-family: 'Lato', sans-serif;">Through MTN Mobile Money</h4>
            <p style="font-size: 17px">
            Send donations to: <br />
            054-4909000 <br/>
            on the MTN Mobile Money platform.
            </p>
        </div>
        <div class="col-md-4" style="margin-bottom: 20px">
            <h4 class="section-title text-left wow fadeInDown" style="font-family: 'Lato', sans-serif;">Through the Bank</h4>
            <p style="font-size: 17px">
              Send cash or cheque donations to:<br />
              Account Name: Cantonments Police Mosque <br />
              Bank: Societe Generale bank (Osu Branch, Accra - Ghana) <br />
              Account Number: 07101008655-2
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row text-center" style="margin-top: 50px">
      <i style="font-size: 20px">You can also contact us if you have a preferred means to donate </i>
    </div>
</div>