[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-left wow fadeInDown" style="font-family: 'Lato', sans-serif; color: white;">Our Mission</h4>
            <p style="font-size: 17px">To to to be an Islamic institution focused on education and social activities with particular interest in matters of security</p>
        </div>
        <div class="col-md-4">
            <h4 class="text-left wow fadeInDown" style="font-family: 'Lato', sans-serif; color: white;">Our Mission</h4>
            <p style="font-size: 17px">Provide an atmosphere for spiritual and intellectual development by the Quran and Sunnah.</p>
        </div>
        <div class="col-md-4">
            <ul class="social-icons" style="bottom: 0;">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            &copy;  {{ "now"|date("Y") }} {{ this.theme.site_name }}
        </div>
    </div>
</div>