[viewBag]
==
<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
    </div>

    <div class="row">
        <div class="features">
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                <div class="service-box">
                    <h4>Marriage Counseling</h4>
                    <p>
                        The mosque provides marriage services cementing partnerships according to Islamic and civil matrimony. An appointment will have to be made with the Imam in advance.
                    </p>
                    <a class="btn btn-success green-background service-button" href="#contact">Reach Imaam</a>                    
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                <div class="service-box">
                    <h4>Family counseling</h4>
                    <p>
                        The mosque provides counseling to those experiencing problems in their families. An appointment will have to be made with the Imam in advance.
                    </p>
                    <a class="btn btn-success green-background service-button" href="#contact">Reach Imaam</a>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                <div class="service-box">
                    <h4>Visit & Tour</h4>
                    <p>
                        Plan a visit to learn more about the mosque and all of its amazing facilities
                    </p>
                    <a class="btn btn-success green-background service-button" href="#contact">Schedule visit</a>
                </div>
            </div><!--/.col-md-4-->

        </div>
    </div><!--/.row-->
</div><!--/.container-->
