[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown green-text">Our Services</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="{{ 'assets/images/mosque3.png'|theme }}" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Marriage and Family Counseling</h4>
                            <p>
                                The mosque provides marriage services cementing partnerships according to Islamic and civil matrimony. Family counselling is also available to those experiencing problems or those wanting advice on marriage. An appointment will have to be made with the Imam in advance.
                            </p>
                        </div>
                    </div>

                    <!--
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Our Facilities</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                    -->

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Visit & Tour</h4>
                            <p>Plan a visit to learn more about the mosque and all of its amazing facilities</p>
                        </div>
                    </div>
                    

                </div>
                <div>
                        <a class="btn btn-primary btn-lg" href="/#contact">Contact us</a>
                    </div>
            </div>
        </div>